# Java files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse files #
.classpath
.project
.pydevproject
.settings

# Python files #
*.pyc
*.pyo

# Other #
boat_protos_pb2.py
#*.svg
#*.png
#*.wav

